/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	h1 {
		font-size: 21px;
		background-color: #080800;
	}
	p {
		font-size: 15px;
		background-color: lightblue;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
		h1 {
		font-size: 20px;
		background-color: blue;
	}
	p {
		font-size: 20px;
		background-color: green;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	h1 {
		font-size: 40px;
		background-color: grey;
	}
	p {
		font-size: 20px;
		background-color: green;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	h1 {
		font-size: 60px;
		background-color: blue;
	}
	p {
		font-size: 20px;
		background-color: green;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	h1 {
		font-size: 40px;
		background-color: blue;
	}
	p {
		font-size: 15px;
		background-color: green;
	}
}

/*Extra	Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
	h1 {
		color: #ba55d3;
		font-size: 90px;
		background-color: blue;
	}
	h2 {
		font-size: 42px;
		background-color: green;
	}
}